p {
  color: skyblue;
  text-align: center;
}
h1{
  color: #e4bbf7;
    text-align: center;
  text-align: center;
}
@media (min-width: 600px) {
  .c1{
    width: 50%;
    color: #f7bbe1;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .c1 {
    width: 60%;
    color: #bbf7d5;
    text-align: center;
  }
  
}

